<% provide(:title, "Logowanie") %>
<h1>Logowanie</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>

      <%= f.label :password, "Hasło" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, "Zapamiętaj mnie na tym komputerze", class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Zapamiętaj mnie na tym komputerze</span>
      <% end %>

      <%= f.submit "Zaloguj", class: "btn btn-primary" %>
    <% end %>

    <p>Nie masz jeszcze konta? <%= link_to "Załóż je teraz!", signup_path %></p>
  </div>
</div>