<% provide(:title, "Strona domowa") %>
<div class="center jumbotron">
  <% unless logged_in? %>
    <h1>Witamy w aplikacji Dislexia</h1>
    <%= link_to "Zarejestruj się!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Masz już konto? Zaloguj się!", login_path, class: "btn btn-lg btn-primary" %>
    <h2>
      Dislexia to w pełni darmowa, przyjazna aplikacja dla dzieci cierpiących na dysleksję. 
      Mamy nadzieję, że korzystając z naszej aplikacji choćby w małym stopniu uda Ci się pokonać 
      niektóre problemy spowodowane dysleksją, a także miło spędzić czas rozwiązując zadania, 
      zdobywając punkty i rywalizując z rówieśnikami o tytuły <br />
      <span>Mistrza dnia</span> oraz <span>Mistrza miesiąca</span>.<br />
  	Aby rozpocząć przygodę z Dislexią trzeba się zarejestrować. <span>Do dzieła!</span>
    </h2>
  <% else %>
    <h1>Poziomy gry</h1>
    <div id="levels">
      <ul>
        <% @levels.each do |level| %>
          <li>
            <a href="/levels/<%= level.id %>"><span class="name"><%= level.name %></span><span class="points"><%= @points[level.id] || 0 %>/<%= level.points * 5 * 5 %></span></a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>