<% provide(:title, "Kategoria: #{@category.title}") %>
<div class="center jumbotron">
  	<h1>Kategoria: <%= @category.title %></h1>
    <div id="task">
      <h2 class="title"><%= eval(@task["content"])[:title] %></h2>
      <h3 class="content"><%= eval(@task["content"])[:content] %></h3>
      <% if eval(@task["content"])[:content2] != nil %>
       <h3 class="content"><%= eval(@task["content"])[:content2] %></h3>
      <% end %>
      <br /><br /><br /><br />
      <form class="answer" id="answer" action="/tasks/<%= @task["id"] %>/answer" accept-charset="UTF-8" method="post">
      	<%= token_tag %> 
      	Odpowiedź: <input name="user_answer" type="text" required>
      	<input name="answer_button" value="Odpowiadam!" class="btn btn-primary btn-answer" type="submit">
	  </form>
    <div class="center example">
      <h3 class="example">Przykład</h3>
      <p class="example_title"><%= eval(@category["content"])[:example_title] %></p>
      <p class="example_content"><%= eval(@category["content"])[:example_content] %></p>
      <% if eval(@category["content"])[:example_content2] != nil %>
       <p class="example_content"><%= eval(@category["content"])[:example_content2] %></p>
      <% end %>
      <p class="example_answer">Poprawna odpowiedź: <%= eval(@category["content"])[:example_answer] %></p>
    </div>
</div>